@import 'variables';

.flex-between {
    @include flex;
}

.flex {
    display: flex;
}

.center {
    @include flex(center, center);
}

.flex-top {
    display: flex;
    align-items: flex-start !important;
}

.flex-bottom {
    display: flex;
    align-items: flex-end !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

@for $i from 0 to 101 {
    .w-#{$i} {
        width: ($i * 1%) !important;
    }
    .h-#{$i} {
        height: ($i + 0px) !important;
    }
    .mr-#{$i} {
        margin-right: ($i + 0px) !important;
    }
    .mt-#{$i} {
        margin-top: ($i + 0px) !important;
    }
    .ml-#{$i} {
        margin-left: ($i + 0px) !important;
    }
    .mb-#{$i} {
        margin-bottom: ($i + 0px) !important;
    }
    .pr-#{$i} {
        padding-right: ($i + 0px) !important;
    }
    .pt-#{$i} {
        padding-top: ($i + 0px) !important;
    }
    .pl-#{$i} {
        padding-left: ($i + 0px) !important;
    }
    .pb-#{$i} {
        padding-bottom: ($i + 0px) !important;
    }
    .fs-#{$i} {
        font-size: ($i + 0px) !important;
    }
}

.inner{
    width: calc(100vw - 20%);
    margin: 0 auto;
}

button.custom{
    all: unset;
    padding: 10px 40px;
    border: 1px solid $white;
    font-size: 20px;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
    transition: .2s;
    &:last-child{
        margin-right: 0;
    }
    &:hover{
        background: $white;
        color: $black;
        border: 1px solid $black;
    }
}

.card{
    width:100%;
    border: 1px solid $black;
    padding: rem(20);
    box-shadow: 3px 3px 6px rgba($color: #000000, $alpha: .25);
    border-radius: 10px;
    margin-bottom: 50px;
    &:last-child{
        margin-bottom: 0;
    }
}

hr{
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background: rgba($color: #000000, $alpha: .4);
}

.game-items {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    > li {
      position: relative;
      width: 50%;
      @include flex(center, center);
      .img-wrap {
        cursor: pointer;
        position: relative;
        height: 65vh;
        width: 25vw;
        text-align: center;
        margin-bottom: 50px;
        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 90%;
          height: 90%;
          top: 50%;
          left: 50%;
          background: $white;
          transform-origin: center center;
          border: 20px solid $black;
          transform: translate(-50%, -50%) rotateZ(20deg);
        }
        &:before {
          content: "";
          z-index: 2;
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 50%;
          left: 50%;
          background: #ff222d;
          border: 20px solid $black;
          transform-origin: center center;
          transform: translate(-50%, -50%) rotateZ(-20deg);
        }
        .img {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          box-sizing: content-box;
          z-index: 3;
          width: 100%;
          height: 100%;
          border: 20px solid $white;
          background-color:$black;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          box-shadow: 6px 6px 6px rgba($color: #000000, $alpha: 0.5);
        }
      }
      h2 {
        font-family: "comic";
        font-size: rem(36);
        position: absolute;
        bottom: -20%;
        left: 50%;
        text-align: center;
        background: $white;
        padding: 20px 0;
        z-index: 10;
        border: 10px solid $black;
        width: 100%;
        transform: translate(-50%) skewX(-20deg);
      }
      &:nth-child(2n) {
        .img-wrap {
          &:after {
            transform: translate(-50%, -50%) rotateZ(-20deg);
          }
          &:before {
            transform: translate(-50%, -50%) rotateZ(20deg);
            background: #022f8f;
          }
        }
      }
    }
  }